:root{
    --white-color: #fff;
    --black-color:#000;
    --text-color:rgb(0, 0, 0);
    --liked-color: rgb(0, 0, 0);
    --discount-color: rgba(0, 0, 0, 0.94);
    --main-color:#000000;
    --background-color:#d2beb4;
    --btn-color:#000;/* màu chữ slider 2*/
    --red-color:rgb(5, 5, 5);  
    --slider-2-color:rgba(186, 186, 186, 0.6); 
    --darkpink: #b8a898;
    --lightpink: #d2beb4;
    --darkbrown: #000000;
    --black: black;
    --white: #ffffff;         
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* font-size: 1.6rem; */
    /* overflow-y: hidden; */
}


html{
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* a:hover{
  color: var(--btn-color);
  cursor: pointer;
} */
.form-control:focus{
  border-color: rgb(210 190 180);
  outline: 0;
  box-shadow: 0 0 0 0.25rem #41464b1f;
}

